<p>
  <mat-toolbar>
    <span>Ram - Angular Forms Examples</span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar>
</p>

<h2 style="text-align:center; margin-top:20px;">Hai Welcome to sample forms repo - Ram </h2>



<button class="nav-btn" routerLink="simple" mat-raised-button>Simple Forms</button>
<button class="nav-btn" routerLink="template" mat-raised-button color="primary">Template forms</button>
<button class="nav-btn" routerLink="reactiveform1" mat-raised-button color="accent">Reactive forms</button>
<button class="nav-btn" routerLink="reactiveform2" mat-raised-button color="accent">Reactive forms - 2 </button>
<button class="nav-btn" routerLink="custom" mat-raised-button color="warn">Custom Directive</button>